<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
	<!-- 配置 session-factory
		SessionFactory的作用是用来创建session对象的
		session对象就是hibernate中操作数据库的核心
		第一部分：连接数据库的信息
		第二部分：hibernate的可选配置
		第三部分：映射文件的位置
	-->
	<session-factory>
		<!-- 第一部分：连接数据库的信息 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate01</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<!-- 数据库的方言 -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!-- 第二部分：hibernate的可选配置 -->
		<!-- 是否显示hibernate生成的SQL语句 -->
		<property name="hibernate.show_sql">true</property>
		<!-- 是否格式化输出SQL语句到控制台 -->
		<property name="hibernate.format_sql">false</property>
		<!-- 配置hibernate采用何种方式生成DDL语句 -->
		<!-- update表示检测实体类的映射配置和数据库的表结构是否一致，如果不一致，更新表结构 -->
		<!-- SQL结构化查询语言：分为6个部分 
			DDL：Data Definition Language 数据定义语言
			DML：Data Manipulation Language 数据操纵语言
			DQL：Data Query Language 数据查询语言
			DCL：Data Control Language 数据控制语言
			CCL：Cursor Control Language 游标控制语言
			TPL：Transaction Processing Language 事务处理语言
		-->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- 设置hibernate的连接池提供商 -->
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<!-- 把session和线程绑定，从而实现一个线程只有一个session -->
		<property name="hibernate.current_session_context_class">thread</property>
		<!-- 第三部分：映射文件的位置 -->
		<mapping resource="com/wangyue/domain/Customer.hbm.xml"/>
		<mapping resource="com/wangyue/domain/LinkMan.hbm.xml"/>
		
	</session-factory>
</hibernate-configuration>